{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="portfolio" class="portfolio">
        <!--This will show us galary!!!-->
        <div class="container">
            <div class="section-title" data-aos="fade-left">
                <h2>Gallereya</h2>
            </div>

            {% for object in Galary %}
            {% if object is not None %}
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="{{object.photo.url}}" class="img-fluid" alt="">
                        <div class="portfolio-info text-center">
                            <h4>{{object.main_title|default:""}}</h4>
                            <p>{{object.title|default:""}}</p>
                            <div class="portfolio-links">
                                <a href="{{object.photo.url}}" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="{{object.message}}"><i class="bx bx-plus"></i></a>
                                <!--<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% empty %}
                <div class="text-position" data-aos="fade-right" data-aos-delay="100">
                    <p>Ayni damda hech qanday rasm yo'q</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Portfolio Section -->
{% endblock %}