<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bolalar-Bog'chasi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{% static 'assets/img/IconForSite.png' %}" rel="icon">
    <link href="{% static 'assets/img/IconForApply.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

<nav id="navbar" class="navbar navbar-dark align-items-center"
     style="background-color: rgba(0, 71, 119, 0.877); opacity: 100%;">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="{% static 'assets/img/KinderGartenHouse.png' %}" alt="">
            Bolalar-Bog'chasi
        </a>
        <!--<form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>-->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link scrollto" href="{% url 'about' %}">Bosh sahifa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/staff/' %}active{% endif %}" href="#team">Hodimlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scrollto" href="{% url 'news' %}">Yangiliklar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scrollto" href="{% url 'galary' %}">Gallereya</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scrollto" href="{% url 'contact' %}">Kontakt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scrollto" href="/admin/">Admin</a>
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </div>
</nav>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="100">
        <h1>{{Banner.banner_main_title|default:"-"}}</h1>
        {% if Banner.banner_message_on_title is not None %}
        <h2>{{Banner.banner_message_on_title}}</h2>
        {% endif %}
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
                    <img src="{% static 'assets/img/Gerb.png' %}" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 col-md-6 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
                    <img src="{% static 'assets/img/Bayrog.png' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section><!-- End Clients Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>Hodimlar</h2>
            </div>

            <div class="row">
                {% for i in Staff %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4 justify-content-center">
                    <div class="member" data-aos="zoom-in" data-aos-delay="200">
                        <img src="{{i.photo.url}}" class="img-fluid my-3" alt="" height="500"
                             style="max-width: 75%;margin: 0 0 30px 0;">
                        <div class="member-info">
                            <h4>{{i.main_title}}</h4>
                            <span>{{i.title}}</span>
                            <p>{{i.info}}</p>
                            <div class="social">
                                {% if i.twitter is not None %}
                                <a href="{{i.twitter}}"><i class="ri-twitter-fill"></i></a>
                                {% endif %}

                                {% if i.facebook is not None %}
                                <a href="{{i.facebook}}"><i class="ri-facebook-fill"></i></a>
                                {% endif %}

                                {% if i.instagram is not None %}
                                <a href="{{i.instagram}}"><i class="ri-instagram-fill"></i></a>
                                {% endif %}

                                {% if i.linkedin_box is not None %}
                                <a href="{{i.linkedin_box}}"><i class="ri-linkedin-box-fill"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="text-position" data-aos="fade-right" data-aos-delay="100">
                    <p>Ayni damda hech qanday hodim haqida ma'lumot yo'q</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Team Section -->
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer class="text-center text-lg-start text-white" style="background-color: rgba(0, 71, 119, 0.877);">
    <!-- Grid container -->
    <div class="container p-2">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase my-4"
                    style="font-size: 1.8em;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                    Kontakt</h5>
                <p style="font-size: 1.2em;">
                    <i class="bi bi-geo-alt"></i> {{AboutContact.location|default:"-"}}<br/>
                <hr class="mx-lg-0 mx-auto" style="width: 30%;">
                <i class="bi bi-telephone"></i> <strong>Telefon raqam:</strong> {{AboutContact.contact_num|default:"-"}}<br>
                <i class="bi bi-envelope"></i> <strong>Email:</strong> {{AboutContact.email|default:"-"}}<br>
            </div>
            <!--Grid column-->

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase my-4 text-center"
                    style="font-size: 1.8em;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                    Ma'lumot</h5>
                <p style="font-size: 1.2em;">
                <table class="table table-striped table-hover table-primary">
                    <tbody>
                    <tr>
                        <th style="text-align: left;">{{Counts.name_of_first_table|default:"-"}}</th>
                        <td style="text-align: right;">{{Counts.num_of_first_table|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">{{Counts.name_of_second_table|default:"-"}}</th>
                        <td style="text-align: right;">{{Counts.num_of_second_table|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">{{Counts.name_of_third_table|default:"-"}}</th>
                        <td style="text-align: right;">{{Counts.num_of_third_table|default:"-"}}</td>
                    </tr>
                    </tbody>
                </table>
                <!--
                <strong>{{Counts.name_of_first_table|default:"-"}}:</strong> {{Counts.num_of_first_table|default:"-"}}
                <strong>{{Counts.name_of_second_table|default:"-"}}:</strong> {{Counts.num_of_second_table|default:"-"}}
                <strong>{{Counts.name_of_third_table|default:"-"}}:</strong> {{Counts.num_of_third_table|default:"-"}}
                -->
            </div>
            <!--Grid column-->
            <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase my-4 text-center"
                    style="font-size: 1.8em;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                    Manzil</h5>
                <iframe style="border:0; width: 100%; height: 200px;"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5043.118347585714!2d69.2265237632182!3d41.27282294859015!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b9e3e782df9%3A0xbef5e47a61deb864!2sWorld%20Medicine%20office!5e0!3m2!1sen!2s!4v1616082011999!5m2!1sen!2s"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        The site is designed by student Bakhodirov Shakhzod in <a href="https://ba.uz/uz/" target="_blank"
                                                                  style="color:rgba(13, 20, 12, 0.92);text-decoration: none;">NAPA
        Team</a>
    </div>
    <!-- Copyright -->
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>