{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="about" class="about">
        <div class="container">
            <div class="row content">
                <h2 class="text-center Introducer mb-5">Bog'chamiz haqida</h2>
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <h3>Bog'chaga qabul jarayoni</h3>
                    <p>
                        Biz bilan bog'laning va o'ziningizning izohingizni kontakt orqali bizga jo'nating
                    </p>

                    <h3>Bog'chaning ustunligi</h3>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Farzandlaringizni xavfsizligi!</li>
                        <li><i class="ri-check-double-line"></i> Farzandiginizga mos taomlar!</li>
                        <li><i class="ri-check-double-line"></i> Malakali tarbiyachilar</li>
                        <li><i class="ri-check-double-line"></i> Sport mashg'ulotlar</li>
                        <li><i class="ri-check-double-line"></i> Bolalarga xos bo'lgan quvnoq o'yinlar</li>
                    </ul>
                    <!--<p class="font-italic"></p>-->
                </div>
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <img src="{% static 'assets/img/KinderGardenGround.png' %}" alt="" height="450vh" width="100%">
                </div>
            </div>
            <br/>
        </div>
    </section><!-- End About Section -->
{% endblock %}